Repository meshery/meshery-nighthawk, pull requests merged in 2024-01, with the labels that each got.

#16 [Docs] Readme update to describe purpose of this repo
  README.md
Labels: area/docs

#25 [CI] Pull Request Labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: area/ci

#26 Nighthawk Adapter halfway to init
  .github/workflows/component-updater.yml
  .golangci.yml
  Dockerfile
  Makefile
  assets/img/horizontal/nighthawk-text-side.png
  assets/img/horizontal/nighthawk-text-side.svg
  assets/img/horizontal/nighthawk-text-side_color.png
  assets/img/horizontal/nighthawk-text-side_color.svg
  assets/img/horizontal/nighthawk-text-side_white.png
  assets/img/horizontal/nighthawk-text-side_white.svg
  assets/img/icon/nighthawk-icon_white.png
  assets/img/icon/nighthawk-icon_white.svg
  assets/img/icon/nighthawk-logo.png
  assets/img/icon/nighthawk-logo.svg
  assets/img/name/nighthawk-text.png
  assets/img/name/nighthawk-text.svg
  assets/img/name/nighthawk-text_white.png
  assets/img/name/nighthawk-text_white.svg
  assets/img/stacked/nighthawk-full.png
  assets/img/stacked/nighthawk-full.svg
  assets/img/stacked/nighthawk-full_light.png
  assets/img/stacked/nighthawk-full_light.svg
  assets/img/stacked/nighthawk-full_white.png
  assets/img/stacked/nighthawk-full_white.svg
  build/Makefile.core.mk
  build/Makefile.show-help.mk
  build/config.go
  build/model_metadata.json
  go.mod
  go.sum
  internal/config/config.go
  main.go
  nighthawk/nighthawk.go
  nighthawk/oam/error.go
  nighthawk/oam/register.go
  perf/perf.go
Labels: area/ci, area/lifecycle, language/go

#31 Init Registration and Operation processing functionality.
  build/config.go
  go.mod
  go.sum
  main.go
  nighthawk/nighthawk.go
  nighthawk/oam/error.go
  nighthawk/oam/register.go
Labels: area/lifecycle
