Repository meshery/meshery-nighthawk, pull requests merged in 2024-02, with the labels that each got.

#32 fix docs of meshery-nighthawk repos readme file broken images links
  README.md
Labels: area/docs

#29 Updated design for PR celebration
  .github/welcome/meshery-darkmode-celebration.svg
  .github/welcome/meshery-lightmode-celebration.svg
Labels: area/ci

#42 [CI]: Update Docker Hub Org repo reference.
  Makefile
Labels: area/ci, docker

#40 [Chore] Dependencies: Meshery Adapter Library v0.7.2
  go.mod
  go.sum
Labels: language/go, component/nighthawk, dependencies

#43 Fix error 'Error closing file: invalid argument'
  build/config.go
Labels: area/lifecycle
